PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=minibot_playlist
DB_USER=postgres
DB_PASSWORD=
WEBHOOK_SECRET=tu_secreto_aqui
PUBLIC_BASE_URL=http://localhost:3000
ENABLE_TUNNEL=true
CLOUDFLARED_BIN=tools/cloudflared.exe
WHATSAPP_ACCESS_TOKEN=tu_token_aqui
WHATSAPP_PHONE_NUMBER_ID=tu_phone_id_aqui
WHATSAPP_WEBHOOK_VERIFY_TOKEN=tu_verify_token_aqui
WHATSAPP_GRAPH_VERSION=v25.0

# Credenciales de Veripagos
VERIPAGOS_USER=tu_usuario_veripagos_aqui
VERIPAGOS_PASS=tu_password_veripagos_aqui
VERIPAGOS_SECRET_KEY=tu_secret_key_veripagos_aqui
